{% load tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/screen.css" %}">
    <title>Document</title>
    {% tailwind_css %}
  </head>
  <style>
    #rekam {
      padding: 10px;
      text-align: center;
      display: none;
      background-color: cadetblue;
    }
    #upload {
      padding: 10px;
      background-color: brown;
      text-align: center;
      display: none;
    }
  </style>
  <body>
    <div class="w-full md:bg-[#609885] bg-[#cec9b3] md:pb-0 pb-8 ;">
      <div
        class="flex justify-center items-center w-full h-16 shadow-md top-0 left-0 bg-indigo-400"
      >
        <p class="font-semibold text-2xl text-white">Project Dulloh dan Dedi</p>
      </div>
      <h1 class="text-black font-medium text-2xl text-center my-5">
        Masukkan Input Background dengan cara apa?
      </h1>
      <div class="flex flex-row justify-evenly">
        <input
          id="btnRekam"
          type="button"
          class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
          value="Rekam Langsung"
        />
        <input
          id="btnUpload"
          type="button"
          class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
          value="Upload File"
        />
      </div>
      <div id="rekam" class="mt-5">
        <div class="flex flex-col text-start text-2xl">
          <p class="font-medium">list microphone yang ada di device ini</p>
          <div class="flex flex-row mt-5">
            <ul>
              {% for num,name in mic%}
              <li>{{num}}.</li>
              {% endfor %}
            </ul>
            <ul>
              {% for num,name in mic%}
              <li>{{name}}</li>
              {% endfor %}
            </ul>
          </div>
          <p class="flex justify-center font-medium mt-5">
            silahkan tekan RECORD untuk merekam suara
          </p>
        </div>
        <div class="flex justify-center w-full">
          <div
            class="from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg px-5 py-2.5 text-center border-2 border-white mt-5 w-10"
          >
            <form action="" method="GET">
              <input type="submit" name="btn_record" value="RECORD" />
            </form>
          </div>
        </div>
      </div>
      <div id="upload" class="justify-center w-full">{{dua}}</div>
      <p class="flex justify-center text-center text-3xl mt-5">{{status}}</p>
      <div class="flex flex-row justify-evenly mt-5">
        <img src="{% static "img/gambar 1.jpeg" %}" width="800" height="150" />
        <img src="{% static "img/gambar 2.jpeg" %}" width="800" height="150" />
      </div>
      <div class="flex justify-end mt-5">
        <button
          type="button"
          class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 border-2 border-white"
        >
          Save
        </button>
      </div>
      <div class="flex justify-center mt-5">
        <img src="{% static "img/gambar bawah.jpeg" %}" width="1600"
        height="900" />
      </div>
    </div>
  </body>
  <script>
    btnRekam.onclick = showRekam;
    btnUpload.onclick = showUpload;
    function showRekam() {
      rekam.style.display = "block";
      upload.style.display = "none";
    }
    function showUpload() {
      rekam.style.display = "none";
      upload.style.display = "block";
    }
  </script>
</html>
