{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Objek</title>
    {% tailwind_css %}
  </head>
  <body>
    <div
      class="md:max-h-full md:h-full h-full w-full md:bg-[#cec9b3] bg-[#cec9b3] md:pb-0 pb-8 items-center justify-center"
    >
      <div
        class="flex justify-center items-center w-full h-16 shadow-md top-0 left-0 bg-indigo-400"
      >
        <p class="font-semibold text-2xl text-white">Project Dulloh dan Dedi</p>
      </div>
      <h1 class="text-white font-medium text-3xl text-center mt-5">
        Objek
      </h1>
      <h1 class="text-black font-medium text-2xl text-center mt-5">
        Masukkan Input Objek disini
      </h1>
      <div
        class="flex w-full h-[15vh] md:h-[15vh] md:justify-center md:items-center"
      >
        <div class="flex justify-around items-center w-full md:w-[60%] h-full">
          <button
            type="button"
            class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 border-2 border-white"
            onClick=""
          >
            Record Langsung
          </button>
          <button
            type="button"
            class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 border-2 border-white"
            onClick=""
          >
            Upload File
          </button>
        </div>
      </div>
      <div
        class="flex justify-evenly items-center w-full h-[70%] md:h-[65vh] md:gap-0"
      >
        <div
          class="flex justify-center items-center bg-slate-200 md:w-[48%] md:h-[95%] w-[95%] h-[48%] rounded-md"
        >
          <div class="flex flex-col w-full h-full">
            <div class="flex justify-center items-center h-[20%] mb-5">
              <button
                type="button"
                class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-2.5 text-center border-2 border-white"
                onClick="{this.Record}"
              >
                Rekam
              </button>
            </div>
            <div class="flex flex-row justify evenly gap-2 mt-5">
              <div class="flex justify-center items-center w-full h-[20%]">
                <button
                  type="button"
                  class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                  onClick="{this.Record}"
                >
                  Gambar MD
                </button>
              </div>
              <div class="flex justify-center items-center w-full h-[20%]">
                <button
                  type="button"
                  class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                  onClick="{this.Record}"
                >
                  Gambar MD
                </button>
              </div>
            </div>
            <div class="flex justify-end items-center w-full my-5">
              <button
                type="button"
                class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
                onClick="{this.Record}"
              >
                save
              </button>
            </div>
            <div class="flex justify-center items-center w-full my-5">
              <button
                type="button"
                class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                onClick="{this.Record}"
              >
                Analisis FFT
              </button>
            </div>
          </div>
        </div>
        <div
          class="flex justify-center items-center bg-slate-600 md:w-[48%] md:h-[95%] w-[95%] h-[48%] rounded-md"
        >
          <div class="flex flex-col w-full h-full">
            <div class="flex justify-center items-center h-[20%] mb-5">
              <input
                type="file"
                className="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm 
                                 py-2.5 text-center mr-2 mb-2 border-2 border-white"
                onChange="{addFile}"
              />
            </div>
            <div class="flex flex-row justify evenly gap-2 mt-5">
              <div class="flex justify-center items-center w-full h-[20%]">
                <button
                  type="button"
                  class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                  onClick="{this.Record}"
                >
                  Gambar MD
                </button>
              </div>
              <div class="flex justify-center items-center w-full h-[20%]">
                <button
                  type="button"
                  class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                  onClick="{this.Record}"
                >
                  Gambar MD
                </button>
              </div>
            </div>
            <div class="flex justify-end items-center w-full my-5">
              <button
                type="button"
                class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
                onClick="{this.Record}"
              >
                save
              </button>
            </div>
            <div class="flex justify-center items-center w-full my-5">
              <button
                type="button"
                class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-20 py-8 text-center border-2 border-white"
                onClick="{this.Record}"
              >
                Analisis FFT
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <div class="flex flex-col justify-center items-center">
            <div class="mb-5 text-black bg-gradient-to-r text-2xl font-bold ">
              <label for="sample">Taruh Nama Sample dibawah ini</label>
            </div>
            <div class="my-5 border-black text-black py-2.5">
              <input type="text" id="sample" name="sample" className=" border-black" value="" onChange={updateName} />
            </div>
            <button
              type="button"
              class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm 
                                px-24 py-2.5 text-center border-2 border-white my-5"
              onClick={saved}
            >
              Selesai
            </button>
          </div>
      </div>
    </div>
  </body>
</html>
