.h-sc {
  height: 200vh;
}
.justify-start {
  justify-content: start;
}
.items-start {
  align-items: start;
}
.text-start {
  text-align: start;
}
.w-10{
  width: 150px;
}
.text-putih{
  color: #DEEAF6;
}
.border-biru{
  border-color: #2F5596;
}

