{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnalisisFFT</title>
    {% tailwind_css %}
  </head>
  <body>
    <div
      class="md:max-h-screen md:h-screen h-[115vh] w-full md:bg-[#cec9b3] bg-[#cec9b3] md:pb-0 pb-8 items-center justify-center"
    >
      <div
        class="flex justify-center items-center w-full h-16 shadow-md top-0 left-0 bg-indigo-400"
      >
        <p class="font-semibold text-2xl text-white">Project Dulloh dan Dedi</p>
      </div>
      <h1 class="text-white font-medium text-3xl text-center mt-5">Hasil Analisis FFT</h1>
      <h1 class="text-black font-medium text-2xl text-center mt-5">
        Gambar terakhir ada disini
      </h1>
    </div>
  </body>
</html>
