<div class="flex flex-row justify-evenly">
    <input
      id="btnRekam"
      type="button"
      class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
      value="Rekam Langsung"
    />
    <input
      id="btnUpload"
      type="button"
      class="text-white bg-gradient-to-r from-slate-500 to-slate-600 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center border-2 border-white"
      value="Upload File"
    />
  </div>